<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Learn Seo</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand">SEO</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-single-post parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Components of a Successful Blog</h1>
               </div>

          </div>
     </div>
</section>

<!-- Blog Single Post Section -->

<section id="blog-single-post">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">
                         
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 25, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> Comments</a></span>
                         </div>

                         <div class="blog-post-des">
                              <p>Blogging can be difficult. It's even tougher to have a popular blog or one that makes any money. Below are several things to consider when wondering how to become a successful blogger. When you make the decision to start a blog, it's likely that you want people to visit it. In other words, you want to start a blog that has a good chance of being successful. Even your mother won't visit your blog if it's boring. Follow the 5 elements of successful blogs below to ensure you're on the right track from the moment you create a blog.</p>
                              <h3>Personality</h3>
                              <p>Your blog should reflect your personality and who you are. If it reads like dull news, it's unlikely that people will want to return again and again. Inject your personality into your blog posts. Write like you speak. Make your blog posts conversational. Use your unique voice to tell your story in each and every blog post. Your unique voice is what makes your blog personable and interesting.</p>
                              <h3>Opinion</h3>
                              <p>One of the key components of your personality and unique voice is your opinion on topics related to your blog's overall subject matter. Don't be afraid to inject your personal opinions into your blog posts. Without your opinions, your blog posts will read like news stories. What makes a blog interesting is the personal opinions of the blogger behind it.</p>
                              <h3>Participation</h3>
                              <p>Don't just publish a blog post and forget about it. The strength of a blog comes from the community that evolves around it. In order to grow the community on your blog, your readers need to feel like they are participating in a 2-way conversation. If someone leaves a comment, respond to it. If a reader emails you directly with a legitimate question or comment, respond to that person. Make your readers feel important by talking with them, not just at them.</p>
                              <h3>Value</h3>
                              <p>Your blog needs to bring something useful or interesting to readers or there is no point in their visiting. In other words, your blog needs to add value to readers' lives for them to take the time to read what you have to say. You can add value by publishing posts that provide more than just news recaps or a list of links to other websites and blogs. Your blog posts need to actually say something unique in your own voice, with your own opinions, and in a conversational manner.</p>
                              <h3>Availability</h3>
                              <p>Don't publish a blog post and then disappear for a week or month. Successful blogs are updated frequently. Readers grow to rely on them for the useful information, valuable commentary, or engaging conversations that happen on your blog. If readers can't rely on you to be there when they visit with new content or conversations, they'll look elsewhere.</p>
                         </div>
                         
                         
                         <p></p>

                         <div class="blog-author">
                              <div class="media">
                                   </div>
                           
                              </div>
                         </div>

                         <div class="blog-comment">
                              <h3>Comments</h3>
                         </div>

                         <div class="blog-comment-form">
                              <h3>Leave a Comment</h3>
                                   <form action="#" method="post">
                                             <input type="text" class="form-control" placeholder="Name" name="name" required>
                                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                                        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message" message="message" required="required"></textarea>
                                        <div class="col-md-3 col-sm-4">
                                             <input name="submit" type="submit" class="form-control" id="submit" value="Post Your Comment">
                                        </div>
                                   </form>
                         </div>
                    </div>
          </div>
     </div>
</section>

<!-- Footer Section -->
<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Learn SEO</h3>
                    <p>Search Engine Optimization.<br> The practice of increasing the quantity and quality of traffic to your website through organic search engine results.</p>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2017 Learn SEO</p>
                    </div>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contact me</h3>
                    <p><i class="fa fa-globe"></i> Km.13 Zone 1 Panacan, Davao City</p>
                    <p><i class="fa fa-phone"></i> 28-46-942</p>
                    <p><i class="fa fa-save"></i> regidor62@gmail.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/bettyfoolme" class="fa fa-facebook"></a></li>
                         <li><a href="https://plus.google.com/u/0/115581136604838449407" class="fa fa-google-plus"></a></li>
                         <li><a href="https://github.com/joycrgdr" class="fa fa-github"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/custom.js"></script>

</body>
</html>