<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Learn Seo</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand">SEO</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
               <br><br><br>
                    <a href="#blog" class="smoothScroll btn btn-default">Learn More</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="single-post.html">
                                   <img src="images/blog-image1.jpg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="single-post.html">What is SEO and its Guidelines?</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 4, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i>Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Search engine optimization or (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results—often referred to as "natural", "organic", or "earned" results.</p>
                              <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="blog2.html">
                                   <img src="images/blog-image2.jpg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="blog2.html">SEO Strategies</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 11, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i>Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Developing an SEO Strategy. SEO is short for "search engine optimization." To have your site optimized for the search engines means to attempt to have top placement in the results pages whenever a specific keyword is typed into the query box.</p>
                              <a href="blog2.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="blog3.html">
                                   <img src="images/blog-image3.png" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="blog3.html">What components does SEO include?</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 18, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i>Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>In theory, search engine optimization (SEO) sounds amazing. With one strategy, you can get your site to the top of Google's organic search rankings, raking in relevant visitors and sales. Unfortunately, SEO scares a lot of people away because of its volatile nature and intimidating degree of complexity. However, if you break SEO down into its main components, it looks a lot less intimidating and for many, it's definitely something worth learning. To illustrate this, I've broken down SEO into the three main components that must be present to comprise a successful long-term search strategy:</p>
                              <a href="blog3.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="blog4.html">
                                   <img src="images/blog-image4.jpg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="blog4.html">The URL Canonicalization</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 18, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i>Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Canonicalization is the process of choosing the best URL, typically for home pages, when there are several choices available. URL’s come in a variety of forms, each with the potential of leading to the same place but each providing technical differences. A canonical URL is the optimal, simplest and authoritative URL chosen for search engines. A canonical URL is, simply put, the URL you want search engines result to display and visitors to see.</p>
                              <a href="blog4.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="blog5.html">
                                   <img src="images/blog-image5.jpg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="blog5.html">Components of a Successful Blog</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Joyce Regidor</a></span>
                              <span><i class="fa fa-date"></i> August 25, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i>  Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Blogging can be difficult. It's even tougher to have a popular blog or one that makes any money. Below are several things to consider when wondering how to become a successful blogger. When you make the decision to start a blog, it's likely that you want people to visit it. In other words, you want to start a blog that has a good chance of being successful. Even your mother won't visit your blog if it's boring. Follow the 5 elements of successful blogs below to ensure you're on the right track from the moment you create a blog.</p>
                              <a href="blog5.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Learn SEO</h3>
                    <p>Search Engine Optimization.<br> The practice of increasing the quantity and quality of traffic to your website through organic search engine results.</p>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2017 Learn SEO</p>
                    </div>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contact me</h3>
                    <p><i class="fa fa-globe"></i> Km.13 Zone 1 Panacan, Davao City</p>
                    <p><i class="fa fa-phone"></i> 28-46-942</p>
                    <p><i class="fa fa-save"></i> regidor62@gmail.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/bettyfoolme" class="fa fa-facebook"></a></li>
                         <li><a href="https://plus.google.com/u/0/115581136604838449407" class="fa fa-google-plus"></a></li>
                         <li><a href="https://github.com/joycrgdr" class="fa fa-github"></a></li>
                    </ul>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>